          body {
            background-image: url('C:\Users\PRAJWAL\Downloads\VIT Downloads\Other Downloads\prajwal\143567-782758325_small.mp4');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif; 

            font-family: "Ubuntu", sans-serif;
            /* font-weight: 300;
            font-style: normal; */
            
          }
        
        

       
        
       
