<!DOCTYPE html>
<html>
<head>
    <!-- <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/logo.png" type="image/x-icon">


    <style>
         /* Footer  */
         footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1em;
            /* position: fixed; */
            bottom-margin: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <footer>
        <p>&copy; 2024 ATRT Disease Detection. All rights reserved.</p>
    </footer>
</body>
</html>
